<div class="jumbotron" style="margin-right:250px; margin-left:250px;border-style: solid;background-color:#1c2129"> <h1 style="text-align:center; color: #008080;margin-bottom:100px">Login Form </h1>

		<div style="maring-left:250px">
			<form role="form" ng-submit="login()" ng-controller="LoginFormController">
  <div class="form-group" >
    <label for="email"  style="maring-left:250px;color:#008080">User Name:</label>
    <input type="text" class="form-control" id="email" name="username" ng-model="username" style="width:180px; align:center ;maring-left:250px" placeHolder="Enter Username ..">
  </div>
  <div class="form-group">
    <label for="pwd"style="maring-left:250px; color:#008080" >Password:</label>
    <input type="password" class="form-control" name="password" id="pwd" ng-model="password" style="width:180px;maring-left:250px;" placeHolder="Enter password ..">
  </div>
  <button type="submit" class="btn btn-success"  ><span class="glyphicon glyphicon-user"></span> <b>Submit</b></button>
  <a ng-href="/#/create"><p style="color:Orange;">Don't Have an Account ? </p></a>
</form>
		</div>
		</div>