


<form  ng-app="myApp" ng-submit="login()"  ng-controller="loginUser"
name="myForm" novalidate>
<p style="float:right">
Or <strong>or</strong><a ng-href="#/register"><strong>Register</strong> </a>
</p>
<p>Username:<br>
  <input type="text" name="username" ng-model="username" required>
  <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
  <span ng-show="myForm.username.$error.required">Username is required.</span>
  </span>
</p>
<p>Password:<br>
<input type="password" name="password" ng-model="password" required>
<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid"></span>
<span ng-show="myForm.email.$error.required">password is required.</span>
</p>
<p>
  <input type="submit" label="login"
  ng-disabled="myForm.username.$invalid || myForm.password.$invalid">
</p>


</form>